.slider-section {
  margin-bottom: 40px;
}

.slider-title {
  color: white;
  font-size: 22px;
  margin-bottom: 12px;
}

.slider-poster {
  width: 170px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.3s;
}

.slider-poster:hover {
  transform: scale(1.08);
}

.slider-name {
  color: #ddd;
  font-size: 14px;
  margin-top: 8px;
}
