.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.movie-card {
  background: #161616;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-info {
  padding: 12px;
}

.movie-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-genre {
  color: #bbb;
  font-size: 14px;
}
