.navbar {
  width: 100%;
  height: 70px;
  background: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #ff004f;
  text-decoration: none;
  margin-right: 30px;
}

.nav-left a, .nav-right a {
  color: #f1f1f1;
  text-decoration: none;
  margin-right: 20px;
  font-size: 15px;
  transition: 0.25s ease;
}

.nav-left a:hover, .nav-right a:hover {
  color: #ff004f;
}

.register-btn {
  padding: 8px 14px;
  background: #ff004f;
  color: white !important;
  border-radius: 8px;
}
