.detail-page {
  display: flex;
  gap: 40px;
  padding: 40px;
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.left { width: 320px; }

.detail-poster {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 0 30px #e50914aa;
}

.detail-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.btn.red {
  background: #e50914;
  border: none;
  padding: 12px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn.red:hover { background: #ff2a2a; }

.btn.red.small { padding: 8px; font-size: 14px; }

.right { flex: 1; }

.title { font-size: 32px; font-weight: 700; }

.stats { color: #bbb; margin-bottom: 20px; }

.overview {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 15px;
}

/* Oyuncular */
.cast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 18px;
}

.cast-card {
  background: #111;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}

.cast-card:hover {
  box-shadow: 0 0 15px #e50914;
}

.cast-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.actor-name { margin-top: 8px; font-size: 15px; font-weight: 600; }
.actor-role { font-size: 13px; opacity: 0.7; }

/* Benzer Filmler */
.similar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 18px;
}

.similar-card {
  background: #111;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.similar-card:hover {
  box-shadow: 0 0 18px #e50914;
  transform: translateY(-3px);
}

.similar-card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.similar-card p { margin-top: 8px; font-size: 14px; }

/* Yorum Kutusu */
.comment-box {
  margin-top: 10px;
  background: #111;
  padding: 15px;
  border-radius: 10px;
}

.comment-box textarea {
  width: 100%;
  height: 90px;
  resize: none;
  background: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}
