.movie-detail-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  color: white;
}

.detail-poster {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.detail-info {
  flex: 1;
}

.detail-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.detail-genre {
  font-size: 18px;
  margin-bottom: 5px;
}

.detail-rating {
  font-size: 22px;
  margin-bottom: 20px;
  color: #f5c518;
}

.detail-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.like-btn {
  background: #ff006e;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.save-btn {
  background: #0099ff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.comment-section {
  margin-top: 30px;
}

.comment-box {
  width: 100%;
  height: 120px;
  background: #111;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

.comment-btn {
  background: #00c853;
  margin-top: 12px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
