html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  background: #000;
}





body {
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #e50914;
}

button {
  cursor: pointer;
}
